<p style="color: green"><%= notice %></p>
<!--
<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
-->
<h1><%= @category.name %></h1>
<% @products.each do |product| %>
  <div>
    <%= link_to product.name, product_path(product) %>
  </div>
<% end %>


