<p style="color: green"><%= notice %></p>

<h1 class="title">Products</h1>

<%= form_with url: search_products_path, method: :get, local: true, class: "field has-addons" do |form| %>
  <div class="control">
    <%= form.label :query, "Search", class: "label" %>
    <%= form.text_field :query, value: params[:query], class: "input" %>
  </div>
  <div class="control">
    <%= form.submit "Search", class: "button is-info" %>
  </div>
<% end %>

<div class="columns is-multiline">
  <% @products.each do |product| %>
    <div class="column is-one-quarter">
      <div class="card">
        <% if product.image.attached? %>
          <%= image_tag product.image.variant(resize: "200x200"), alt: "#{product.name} image", class: "card-image" %>
        <% else %>
          <div class="card-image">No image available</div>
        <% end %>
        <div class="card-content">
          <div class="content">
            <%= link_to product.name, product_path(product), class: "has-text-weight-bold" %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
