<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<!--
<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>
-->

<%= form_with url: search_products_path, method: :get, local: true do |form| %>
  <%= form.label :query, "Search" %>
  <%= form.text_field :query, value: params[:query] %>
  <%= form.submit "Search" %>
<% end %>
<!--<%= link_to "Search Products", search_products_path %>-->
<% @products.each do |product| %>
  <div>
    <%= link_to product.name, product_path(product) %>
  </div>
  <div>
  <% if product.image.attached? %>
            <%= image_tag product.image.variant(resize: "100x100"), alt: "#{product.name} image" %>
          <% else %>
            No image available
          <% end %>
  </div>
<% end %>