
<p style="color: green"><%= notice %></p>

<h1 class="title">Search Results</h1>

<% if(@products.count == 0)%>
<p style = "font-size:3rem; color:red">
No products found for: <%= params[:keywords]%>
</p>
<%else%>
<p>
Products found for: <%= params[:keywords]%>
</p>
<ul>
<% @products.each do |product|%>
<li><%= link_to product.name, product %></li>
<%end%>
</ul>
<%end%>
<%= paginate @products %>


