<nav class="navbar">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'All Products', products_path, class: 'navbar-item' %>

        <% Category.all.each do |category| %>
          <%= link_to category.name, category_path(category), class: 'navbar-item' %>
        <% end %>

        <% unless request.path == carts_path %>
          <%= link_to raw("🛒 View Cart"), carts_path, class: 'navbar-item' %>
        <% end %>
      </div>
      <div class="navbar-end">
        <% if user_signed_in? %>
          <%= link_to "Edit Address", edit_address_path(current_user), class: 'navbar-item' %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'navbar-item' %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: 'navbar-item' %>
          <%= link_to "Sign up", new_user_registration_path, class: 'navbar-item' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
