<!DOCTYPE html>
<html>
  <head>
    <title>Blooming</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <div class="container">

    <%#= yield %>
    <!--
    <% flash.each do |key, value| %>
      <div class="notification is-<%= key %>">
        <button class="delete"></button>
        <%= value %>
      </div>
    <% end %>
    -->
    <%= yield %>
    </div>
  </body>
</html>

